.idea
target
src/test
src/main/java/com/abc_bank/info
src/main/java/com/abc_bank/output_txt
src/main/java/com/abc_bank/resource
src/main/java/com/abc_bank/test.java
*.bak
*.pyc
test.*
README
*ser
cache/loan_req.json